* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    align-items: center;
}



.header {
    border: 1px solid red;
    display: flex;
    width: 1110px;
    justify-content: space-between;

    margin-top: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

h1 {
    margin-bottom: 50px;
}


.main {
    border: 1px solid red;
    width: 1110px;
    display: flex;
}

.bio {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contacts {
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
    background-color: #282828;
    color: #FFFFFF;
}

.info   {
    display: flex;
    flex-direction: column;
}

.about  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.about > h2 {
    text-align: center;
    margin-bottom: 25px;
}

.code   {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code > h2 {
    text-align: center;
    margin-bottom: 25px;
}

pre {
    width: 420px;
    line-height: 1.5;
}



.skills {
    min-width: 350px;
}




.footer {
    border: 1px solid red;
    margin-top: auto;
}